@{
    var sky = SkyData.Sky;

    if (ViewBag.GroupTitle != null)
    {
        foreach (var recording in sky.AllRecordingsForTitle(ViewBag.GroupTitle))
        {
            <div class="skyRecording @(recording.BeingRecorded ? "skyRecordingBeingRecorded" : "")" id="@recording.Id">
                <div class="skyRecordingInfo">
                        <div class="skyRecordingWhen">@String.Format("{0} [{1} mins] {2}", recording.WhenRecorded.ToString("ddd dd MMM HH:mm"), Math.Round(recording.Duration.TotalMinutes), sky.SizePercent(recording))</div>
                    <div class="skyRecordingChannel">&nbsp;@recording.ChannelName</div>
                </div>
                <div class="skyRecordingName">
                    @if (recording.BeenWatched)
                    {
                        <span>&#10004;&nbsp;</span>
                    }
                    @recording.Title
                </div>
                    <div class="skyRecordingDescription">&nbsp;</div>
            </div>
        }
    }
    else
    {
        foreach (var recordings in sky.AllRecordingsGroupedByTitle)
        {
            var lastRecording = recordings.First();
            var firstRecording = recordings.Last();
            if (recordings.Count > 1)
            {
                <div class="skyRecordingGroup @(lastRecording.BeingRecorded ? "skyRecordingBeingRecorded" : "")" id="@lastRecording.Title">
                    <div class="skyRecordingInfo">
                        <div class="skyRecordingWhen">@(firstRecording.WhenRecorded.ToString("ddd dd MMM")) .. @(lastRecording.WhenRecorded.ToString("dd MMM")) [@(recordings.Count)] @(sky.SizePercent(recordings))</div>
                        <div class="skyRecordingChannel">&nbsp;@lastRecording.ChannelName</div>
                    </div>
                    <div class="skyRecordingName">@lastRecording.Title</div>
                    <div class="skyRecordingDescription">&nbsp;</div>
                </div>
            }
            else
            {
                <div class="skyRecording @(lastRecording.BeingRecorded ? "skyRecordingBeingRecorded" : "")" id="@lastRecording.Id">
                    <div class="skyRecordingInfo">
                        <div class="skyRecordingWhen">@String.Format("{0} [{1} mins] {2}", lastRecording.WhenRecorded.ToString("ddd dd MMM HH:mm"), Math.Round(lastRecording.Duration.TotalMinutes), sky.SizePercent(lastRecording))</div>
                        <div class="skyRecordingChannel">&nbsp;@lastRecording.ChannelName</div>
                    </div>
                    <div class="skyRecordingName">
                        @if (lastRecording.BeenWatched)
                        {
                            <span>&#10004;&nbsp;</span>
                        }
                        @lastRecording.Title
                    </div>
                    <div class="skyRecordingDescription">&nbsp;</div>
                </div>
            }
        }
    }
}