@{
    ViewBag.Title = "Sky";
}

@Html.Partial("TopBar")
@section scripts {
    @Html.Raw(Render.Script("topBar", Request))
    @Html.Raw(Render.Script("sky", Request))
}

@Html.Partial("PaneButtons")
  	<table>
		<tr>
	        <td class="centeredButton"><img class="skyWatchSendIR" id="Sky.Info" src="/Content/Buttons/SmallRound/Info.png"></td>
            <td class="centeredButton"><img class="skyWatchSendIR skyWatchDisableRecord" id="Sky.BackUp" src="/Content/Buttons/SmallRound/Back.png"></td>
            @if (SkyData.Sky.CurrentChannel != null && SkyData.Sky.CurrentRecording == null)
            {
	            <td class="centeredButton"><img class="skyWatchSendIR skyWatchEnableRecord" id="Sky.Record" src="/Content/Buttons/SmallRound/Transport.Rec.png" /></td>
		        <td class="centeredButton"><img class="skyWatchSendIR skyWatchRecord" id="Sky.UpArrow" src="/Content/Buttons/SmallRound/Nav.Up.png"></td>
		        <td class="centeredButton"><img class="skyWatchSendIR skyWatchRecord" id="Sky.DownArrow" src="/Content/Buttons/SmallRound/Nav.Down.png"></td>
		        <td class="centeredButton"><img class="skyWatchSendIR skyWatchRecord skyWatchDisableRecord" id="Sky.Select" src="/Content/Buttons/SmallRound/OK.png"></td>
            }
        </tr>
	</table>
<div class="skyControlPane" id="skyControlPane">
    @Html.Partial("ControlPane")
</div>

