@{
    ViewBag.Title = Running.RunningProgram;
}


@if (IpAddress.IsLanIP(Request.UserHostAddress))
{
    @Html.Partial("TopBarWide");
}
else
{
    <table class="topBar">
        <tr>
            <td class="centeredButton"><img id="remoteHome" src='~/Content/Buttons/SmallRound/Home.png'></td>
            <td class="width60">Avid Remote Record</td>
            <td class="centeredButton"><img id="remoteExit" src='~/Content/Buttons/SmallRound/Exit.png'></td>
        </tr>
    </table>
    <div id="topBarTitle" style="display:none">@ViewBag.Title</div>
}

@section scripts {
    @if (IpAddress.IsLanIP(Request.UserHostAddress))
    {
        @Html.Raw(Render.Script("topBar", Request))
        @Html.Raw(Render.Script("homeWide", Request))
    }
    @Html.Raw(Render.Script("guide2", Request))
}

<div id="guidePanes">
    <div id="guideLeftPane">
        @Html.Partial("PaneButtons")
        <div id="guideSelectorPane" class="guideSelectorPane">
            <div class="guideSelectorItems" id="guideSelectorItems">
                @Html.Partial("SelectorPane")
            </div>
        </div>
    </div>

    <div id="guideRightPane">
        <div id="guideListingsPane">
            <div class="guideBrowserItems" id="guideBrowserItems">
                @Html.Partial("ListingsPane")
            </div>
        </div>
    </div>
</div>
