@{
    ViewBag.Title = Running.RunningProgram;
}

@*
    Do not display the topbar for external (internet) requests, but do allow control of the EPG and recording
*@
@if (IpAddress.IsLanIP(Request.UserHostAddress)) 
{
    @Html.Partial("TopBar");
}
else
{
    <div id="topBarTitle" style="display:none">@ViewBag.Title</div>
}

@section scripts {
    @if (IpAddress.IsLanIP(Request.UserHostAddress))
    {
        @Html.Raw(Render.Script("topBar", Request))
    }
    @Html.Raw(Render.Script("guide2", Request))
}

@Html.Partial("PaneButtons")
<div id="guidePanes">
    <div id="guideOverlayPane">
        <div id="guideSelectorPane">
            <div class="guideSelectorItems guideOverlaySelectors" id="guideSelectorItems">
                @Html.Partial("SelectorPane")
            </div>
        </div>
    </div>

    <div id="guideOverlayPane">
        <div id="guideListingsPane">
            <div class="guideBrowserItems guideOverlayListings" id="guideBrowserItems">
                @Html.Partial("ListingsPane")
            </div>
        </div>
    </div>
</div>
