@{
    ViewBag.Title = Running.RunningProgram;
}


@*
    Do not display the topbar for external (internet) requests, but do allow control of the EPG and recording
*@
@if (IpAddress.IsLanIP(Request.UserHostAddress))
{
    @Html.Partial("TopBarWide");
}
else
{
    <div id="isWide" style="display:none">Yes</div>
    <div id="topBarTitle" style="display:none">@ViewBag.Title</div>

    ViewBag.Wide = "Wide";
}

@section scripts {
    @Html.Raw(Render.Script("topBar", Request))
    @Html.Raw(Render.Script("guide", Request))
}

<div class="guideBrowserItems" id="guideBrowserItems">
    @Html.Partial("BrowserPane")
</div>
