@{
    switch (ViewBag.Mode as string)
    {
        default:
        case "GuideRoot":
            {
                <div class="guideItem" id="guideFavouritesEpg">
                    <div class="guideTitle">Freeview Favourites Listings</div>
                </div>
                <div class="guideItem" id="guideTvEpg">
                    <div class="guideTitle">All Freeview TV Listings</div>
                </div>
                <div class="guideItem" id="guideRadioEpg">
                    <div class="guideTitle">All Freeview Radio Listings</div>
                </div>
                <div class="guideItem" id="guideSchedule">
                    <div class="guideTitle">Scheduled Freeview Recordings</div>
                </div>
            }
            break;

        case "GuideSelectFavouritesEpg":
        case "GuideSelectTvEpg":
        case "GuideSelectRadioEpg":
            {
                IEnumerable<string> channelNames = null;
                switch (ViewBag.Mode as string)
                {
                    case "GuideSelectFavouritesEpg":
                        channelNames = RemotePotato.AllFavouriteChannelNames;
                        break;
                    case "GuideSelectTvEpg":
                        channelNames = RemotePotato.AllTvChannelNames;
                        break;
                    case "GuideSelectRadioEpg":
                        channelNames = RemotePotato.AllRadioChannelNames;
                        break;
                }
                
                <div class="TwoColumnBrowse">
                    <div class="TwoColumnLeft">
                        <div class="guideChannels">
                            @foreach (string channelName in channelNames)
                            {
                                <div class="guideEpgChannel guideItem" id="@channelName">
                                    <div class="guideTitle">@channelName</div>
                                </div>
                            }
                        </div>      
                    </div>      
                    <div class="TwoColumnRight">
                        <div class="guideDates">
                            @for (int i = 0; i <= 14; i++)
                            {
                                DateTime date = DateTime.Today.AddDays(i);
                                <div class="guideEpgDate guideItem" id='@(date.Ticks)'>
                                    <div class="guideTitle">@(date.ToString("ddd dd MMM"))</div>
                                </div>
                            }
                        </div>      
                    </div>      
                </div>      
            }
            break;

        case "GuideProgrammes":
            {
                DateTime date = new DateTime(Int64.Parse(ViewBag.Date as string));
                string channel = ViewBag.Channel;
                bool anyFound = false;

                IEnumerable<RemotePotato.Programme> schedule = RemotePotato.GetEpgProgrammes(date, channel);

                <div class="guideItem guideHeader"><div class="guideTitle">@channel @(date.ToString("ddd dd MMM"))</div></div>
                foreach (RemotePotato.Programme programme in schedule)
                {
                    var displayClass = (string.IsNullOrEmpty(programme.SeriesId) || programme.SeriesId == "0") ? "guideEpgProgramme" : "guideEpgProgrammeInSeries";
                    <div class="@displayClass guideItem" id="@programme.Id">
                        <div class="guideProgrammeInfo" >
                            <div>@(programme.StartTime.ToLocalTime().ToString("HH:mm")) [@JRMC.FormatDuration(programme.Duration.TotalMinutes.ToString())]</div>
                        </div>

                        <div class="guideTitle">@programme.Title</div>
                        <div class="guideProgrammeInfo guideEpgProgrammeDescription">@programme.Description</div>
                    </div>
    
                    anyFound = true;
                }
                
                if (!anyFound)
                {
                    <div class="guideItem guideHeader"><div class="guideTitle">No listings available</div></div>
                }
            }
            break;

        case "GuideSchedule":
            {
                RemotePotato.LoadSchedule();

                IEnumerable<RemotePotato.Programme> programmes = RemotePotato.GetScheduledRecordings();
                bool anyFound = false;
                <div class="guideItem guideHeader"><div class="guideTitle">Scheduled Freeview Recordings</div></div>

                foreach (RemotePotato.Programme programme in programmes)
                {
                    <div class="guideScheduledRecording guideItem" id="@programme.Id">
                        <img class="guideEpgProgrammeCancel" id="@programme.Id" src="/Content/Buttons/SmallRound/Exit.png" />
                        <div class="guideProgrammeInfo" >
                            <span>@(programme.StartTime.ToLocalTime().ToString("ddd dd MMM")) [@JRMC.FormatDuration(programme.Duration.TotalMinutes.ToString())]</span>
                            <span>@(programme.Channel)</span>
                        </div>

                        <div class="guideTitle">@programme.Title</div>
                        <div class="guideProgrammeInfo guideEpgProgrammeDescription">@programme.Description</div>
                    </div>
    
                    anyFound = true;
                }
                
                if (!anyFound)
                {
                    <div class="guideItem guideHeader"><div class="guideTitle">No recordings scheduled</div></div>
                }
            }
            break;

    }
}
