@Html.Partial("TopBar")
@section scripts {
    @Html.Raw(Render.Script("topBar", Request))
    @Html.Raw(Render.Script("home", Request))
    @Html.Raw(Render.Script("streaming", Request))
}

<table class="buttonRow">
    <tr>
        <td class="centeredButton"><img id="goRokuSelect" src="/Content/Buttons/Roku.png" /></td>
        <td class="centeredButton"><img id="goSmartTvSelect" src="/Content/Buttons/Smart.png" /></td>
        <td class="centeredButton"><img id="goChromecastSelect" src="/Content/Buttons/Cast.png" /></td>
        <td class="centeredButton"><img id="goLogFireSelect" src="/Content/Buttons/LogFire.png" /></td>
    </tr>
</table>

<div class="@(ViewBag.HideStreamGuidanceClass ?? "")">
    <p>Recommendations:</p>
    <ul>
        <li>Use <strong>Roku</strong> for Sky Now TV and TV catchup services</li>
        <li>Use <strong>Smart</strong> for Amazon Prime and Curzon</li>
        <li>Use <strong>Cast</strong> for YouTube and other content ChromeCast from the phone or tablet</li>
        <li>Use <strong>Log Fire</strong> for cold winter nights</li>
    </ul>
</div>

<div id="rokuBrowserPane" class="rokuBrowserPane @(ViewBag.HideRokuClass ?? "")">
    <div class="rokuBrowserItems" id="rokuBrowserItems">
        @Html.Partial("BrowserPane")
    </div>
</div>
