@{
    ViewBag.Title = Running.RunningProgram;
}

@Html.Partial("TopBarWide")
@section scripts {
    @Html.Raw(Render.Script("topBar", Request))
    @Html.Raw(Render.Script("homeWide", Request))
    @Html.Raw(Render.Script("web", Request))
}

<div id="webPanes">
    <div id ="webLeftPane">
       <div id="webBrowserPane">
           <div class="webBrowserItems" id="webBrowserItems">
               @Html.Partial("BrowserPane")
           </div>
        </div>
    </div>

    <div id ="webRightPane">
         <div class="webPad" id="webPad">&nbsp;</div>
    </div>
</div>
