@{
    foreach (var drive in System.IO.DriveInfo.GetDrives())
    {
        if (drive.DriveType == System.IO.DriveType.CDRom && drive.IsReady)
        {
            <div class="videoDvdDrive videoDvd" id="@(drive.Name.Substring(0, 1))">
                <div class="videoRecordingName"><span class="playButton">&gt;&nbsp;</span><span class="videoRecordingTitle">@(drive.Name.Substring(0, 1)): @drive.VolumeLabel</span></div>
            </div>
            <div class="videoDvdDrive videoDvd">&nbsp;</div>
        }
    }

    foreach (var dir in System.IO.Directory.GetDirectories(Config.DvdPath, "*.*"))
    {
        string leaf = System.IO.Path.GetFileName(dir);

        <div class="videoDvdDirectory videoDvd" id="@dir" >
            <div class="videoRecordingName"><span class="playButton">&gt;&nbsp;</span><span class="videoRecordingTitle">@leaf</span></div>
        </div>
    }
}
