@{
    if (DvbViewer.AllRecordings.ContainsKey(ViewBag.Id))
    {
        var recording = DvbViewer.AllRecordings[ViewBag.Id];

        <div class="videoRecording" id="@recording.Id">
            <div class="videoRecordingInfo">
                <div class="videoRecordingWhen" id="videoRecordingWhen">@String.Format("{0}", recording.StartTime.ToString("ddd dd MMM HH:mm"))</div>
                <div class="videoRecordingChannel">&nbsp;@recording.ChannelName</div>
            </div>
            <div class="videoRecordingName" id="videoRecordingName">@recording.Title</div>
            <div class="videoRecordingDescription">@recording.Description</div>
        </div>
        <div class="videoRecordingAction" id="videoRecordingPlayFromStart">Play recording</div>
        <div class="videoRecordingAction videoRecordingActionAlert" id="videoRecordingDelete"><span class="playButton">&gt;&nbsp;</span>Delete recording</div>
        <div class="startHidden" id="videoRecordingConfirmDelete">
            <div class="videoRecordingAction videoRecordingActionAlert">
                Confirm delete recording ...
                <br />
                @recording.Title
                <br />
                @String.Format("{0}", recording.StartTime.ToString("ddd dd MMM HH:mm"))
            </div>
        </div>
        <span id="recordingId" style="display:none">@recording.Id</span>
    }
}
