@{
    ViewBag.Title = "Video";
}

@Html.Partial("TopBar")
@section scripts {
    @Html.Raw(Render.Script("topBar", Request))
    @Html.Raw(Render.Script("video", Request))
}

@Html.Partial("PaneButtons")
<div class="videoRecordings" id="videoRecordings">
    @Html.Partial("RecordingsPane")
</div>
