@{
    string id = ViewBag.Id == null ? "" : ViewBag.Id as String;
    switch (ViewBag.Mode as string)
    {
        default:
            break;
        case "Library":
            {
                <div class="spotifyBrowserLibrary spotifyBrowserItem" id="spotifyBrowserLibrarySavedAlbums">
                    <div class="spotifyBrowserTitle">Saved Albums</div>
                </div>
                <div class="spotifyBrowserLibrary spotifyBrowserItem" id="spotifyBrowserLibraryPlaylists">
                    <div class="spotifyBrowserTitle">Playlists</div>
                </div>
                <div class="spotifyBrowserLibrary spotifyBrowserItem" id="spotifyBrowserLibraryArtists">
                    <div class="spotifyBrowserTitle">Search Artists</div>
                </div>
                <div class="spotifyBrowserLibrary spotifyBrowserItem" id="spotifyBrowserLibraryAlbums">
                    <div class="spotifyBrowserTitle">Search Albums</div>
                </div>
                <div class="spotifyBrowserLibrary browserItem" id="spotifyBrowserLibrarySearchTracks">
                    <div class="spotifyBrowserTitle">Search Tracks</div>
                </div>
            }
            break;
            
        case "Playlists":
            {
                IEnumerable<Avid.Spotify.SpotifyData.Playlist> playlists = Spotify.GetPlayLists();
                if (playlists != null)
                {
                    foreach (var playlist in playlists)
                    {
                        <div class="spotifyBrowserPlaylist spotifyBrowserItem" id="@playlist.Id">
                            <div class="spotifyBrowserTitle">@playlist.Name</div>
                        </div>
                    }
                }
            }
            break;
            
        case "SearchArtists":
            {
                string searchText = "";
                IEnumerable<Avid.Spotify.SpotifyData.Artist> searchedArtists = null;
                string searchQuery = ViewBag.Query;
                
                if (!String.IsNullOrEmpty(searchQuery))
                {
                    searchText = HttpUtility.UrlDecode(searchQuery);
                    searchedArtists = Spotify.SearchArtists(searchText);
                }
                
                <div id="spotifySearchArtistsResults">
                    @if (searchedArtists != null)
                    {
                        bool anyFound = false;
                        foreach (var artist in searchedArtists)
                        {
                            anyFound = true;
                            <div class="spotifyBrowserArtist spotifyBrowserItem" id ="@artist.Id">
                                <div class="spotifyBrowserTitle">@artist.Name</div>
                            </div>
                        }
                        if (!anyFound)
                        {
                            <div class="spotifyBrowserItem spotifyBrowserPlaylistHeader">
                                <div class="spotifyBrowserTitle">No artist found: '@(searchText)'</div>
                            </div>
                        }
                    }
                </div>
            }
            break;

        case "SearchAlbums":
            {
                string searchText = "";
                IEnumerable<Avid.Spotify.SpotifyData.Album> searchedAlbums = null;
                string searchQuery = ViewBag.Query;

                if (!String.IsNullOrEmpty(searchQuery))
                {
                    searchText = HttpUtility.UrlDecode(searchQuery);
                    searchedAlbums = Spotify.SearchAlbums(searchText);
                }

                   
                <div id="spotifySearchAlbumsResults">
                    @if (searchedAlbums != null)
                    {
                        bool anyFound = false;
                        string lastArtist = string.Empty;

                        foreach (var album in searchedAlbums)
                        {
                            anyFound = true;
                            <div class="spotifyBrowserAlbum spotifyBrowserItem" id="@album.Id">
                                <div class="spotifyBrowserDisplayContext" >
                                    @if (album.ArtistName != lastArtist)
                                    {
                                        <div class="spotifyBrowserDisplayArtist">@album.ArtistName</div>
                                        lastArtist = album.ArtistName;
                                    }
                                </div>
                                <div class="spotifyBrowserTitle"><span class="playButton">&gt;&nbsp;</span>@album.Name</div>
                            </div>
                        }
                        if (!anyFound)
                        {
                            <div class="spotifyBrowserItem spotifyBrowserPlaylistHeader">
                                <div class="spotifyBrowserTitle">No album found: '@(searchText)'</div>
                            </div>
                        }
                    }
                </div>
            }
            break;

        case "SearchTracks":
            {
                string searchText = "";
                IEnumerable<Avid.Spotify.SpotifyData.Track> searchedTracks = null;
                string searchQuery = ViewBag.Query;

                if (!String.IsNullOrEmpty(searchQuery))
                {
                    searchText = HttpUtility.UrlDecode(searchQuery);
                    searchedTracks = Spotify.SearchTracks(searchText);
                }
   
                <div id="spotifySearchTracksResults">
                    @if (searchedTracks != null)
                    {
                        bool anyFound = false;
                        string lastAlbum = string.Empty;
                        string lastArtist = string.Empty;

                        foreach (var track in searchedTracks)
                        {
                            anyFound = true;
                            string album = track.AlbumName;
                            string artist = track.TrackArtistNames;
                            string duration = Spotify.FormatDuration(track.Duration);
                            var trackId = track.Id;
                            var albumId = track.AlbumId;

                            <div class="spotifyBrowserTrack spotifyBrowserSearchTrack musicBrowserItem" id="@trackId">
                                @if (artist != lastArtist || album != lastAlbum)
                                {
                                    <div class="spotifyBrowserDisplayContext" >
                                        @if (artist != lastArtist)
                                        {
                                            <div class='spotifyBrowserDisplayArtist'>@artist</div>
                                            lastArtist = artist;
                                        }

                                        @if (album != lastAlbum)
                                        {
                                            <div class='spotifyBrowserDisplayAlbum'>@album</div>
                                            lastAlbum = album;
                                        }
                                    </div>
                                }

                                <div class="spotifyBrowserTitle"><span class="playButton">&gt;&nbsp;</span>@track.Name</div>
                                @if (!string.IsNullOrEmpty(duration))
                                {
                                    <div class="spotifyBrowserDuration">@duration</div>
                                }
                            </div>
                        }
                        if (!anyFound)
                        {
                            <div class="spotifyBrowserItem spotifyBrowserPlaylistHeader">
                                <div class="spotifyBrowserTitle">No track found: '@(searchText)'</div>
                            </div>
                        }
                    }
                </div>
            }
            break;

        case "ArtistInfo":
            {
                Avid.Spotify.SpotifyData.Artist artist = Spotify.GetArtistById(id);
                <div class="spotifyPlayingTrack">
		            <div class="spotifyInfoArtist">@artist.Name</div>
	            </div>
                <div class="spotifyBrowserLibrary spotifyBrowserItem" id="spotifyBrowserLibraryArtistAlbums">
                    <div class="spotifyBrowserTitle">List Albums</div>
                </div>
                if (!string.IsNullOrEmpty(artist.Biography)) {
                    <div class="spotifyBrowserLibrary spotifyBrowserItem" id="spotifyBrowserLibraryArtistBiography">
                        <div class="spotifyBrowserTitle">Biography</div>
                    </div>
                }
                <div class="spotifyBrowserLibrary spotifyBrowserItem" id="spotifyBrowserLibrarySimilarArtists">
                    <div class="spotifyBrowserTitle">Similar Artists</div>
                </div>
                <div class="spotifyBrowserLibrary spotifyBrowserItem swipeToCancel spotifyBrowserCancel">
                    <div class="spotifyBrowserTitle">Cancel</div>
                </div>
                
                ViewBag.ArtistId = artist.Id;
            }
            break;

        case "AlbumInfo":
            {
                Avid.Spotify.SpotifyData.Album album = Spotify.GetAlbumById(id);
                <div class="spotifyPlayingTrack">
		            <img src="/Spotify/GetAlbumImage?id=@album.Id" class="spotifyInfoImage" alt="Playing Track Image" />
		            <div class="spotifyInfoArtist">@album.ArtistName</div>
		            <div class="spotifyInfoAlbum">@album.Name</div>
	            </div>
                <div class="spotifyBrowserLibrary spotifyBrowserItem" id="spotifyBrowserLibraryPlayAlbum">
                    <div class="spotifyBrowserTitle">Play Album</div>
                </div>
                <div class="spotifyBrowserLibrary spotifyBrowserItem" id="spotifyBrowserLibraryAppendAlbum">
                    <div class="spotifyBrowserTitle">Append Album</div>
                </div>
                <div class="spotifyBrowserLibrary spotifyBrowserItem" id="spotifyBrowserLibraryAlbumTracks">
                    <div class="spotifyBrowserTitle">List Tracks</div>
                </div>
                <div class="spotifyBrowserLibrary spotifyBrowserItem" id="spotifyBrowserLibraryAlbumArtist">
                    <div class="spotifyBrowserTitle">Artist Info</div>
                </div>
                <div class="spotifyBrowserLibrary spotifyBrowserItem" id="spotifyBrowserSaveAlbum">
                    <div class="spotifyBrowserTitle">Save Album</div>
                </div>
                <div class="spotifyBrowserLibrary spotifyBrowserItem" id="spotifyBrowserLibraryAddAlbumToPlaylist">
                    <div class="spotifyBrowserTitle">Add Album to Playlist</div>
                </div>
                if (ViewBag.PlaylistName != null)
                {
                    <div class="spotifyBrowserLibrary spotifyBrowserItem spotifyBrowserPlaylistRemoveAlbum">
                        <div class="spotifyBrowserTitle">Remove Album from Playlist "@ViewBag.PlaylistName"</div>
                    </div>
                }
                <div class="spotifyBrowserLibrary spotifyBrowserItem swipeToCancel spotifyBrowserCancel">
                    <div class="spotifyBrowserTitle">Cancel</div>
                </div>
    
                ViewBag.AlbumId = album.Id;
                ViewBag.ArtistId = album.ArtistId;
            }
            break;

        case "TrackInfo":
            {
                Avid.Spotify.SpotifyData.Track track = Spotify.GetTrackById(id);
                <div class="spotifyPlayingTrack">
		            <img src="/Spotify/GetAlbumImage?id=@(track.AlbumId)" class="spotifyInfoImage" alt="Playing Track Image" />
            		<div class="spotifyInfoTrackName">@(track.Name)</div>
		            <div class="spotifyInfoArtist">@(track.TrackArtistNames)</div>
		            <div class="spotifyInfoAlbum">@(track.AlbumName)</div>
	            </div>
                <div class="spotifyBrowserLibrary spotifyBrowserItem" id="spotifyBrowserLibraryPlayTrack">
                    <div class="spotifyBrowserTitle">Play Track</div>
                </div>
                <div class="spotifyBrowserLibrary spotifyBrowserItem" id="spotifyBrowserLibraryAppendTrack">
                    <div class="spotifyBrowserTitle">Append Track</div>
                </div>
                <div class="spotifyBrowserLibrary spotifyBrowserItem" id="spotifyBrowserLibraryTrackAlbum">
                    <div class="spotifyBrowserTitle">Album Info</div>
                </div>
                <div class="spotifyBrowserLibrary spotifyBrowserItem" id="spotifyBrowserLibraryTrackArtist">
                    <div class="spotifyBrowserTitle">Artist Info</div>
                </div>
                <div class="spotifyBrowserLibrary spotifyBrowserItem" id="spotifyBrowserLibraryAddTrackToPlaylist">
                    <div class="spotifyBrowserTitle">Add Track to Playlist</div>
                </div>
                if (ViewBag.PlaylistName != null)
                {
                    <div class="spotifyBrowserLibrary spotifyBrowserItem spotifyBrowserPlaylistRemoveTrack">
                        <div class="spotifyBrowserTitle">Remove Track from Playlist "@ViewBag.PlaylistName"</div>
                    </div>
                }
                <div class="spotifyBrowserLibrary spotifyBrowserItem swipeToCancel spotifyBrowserCancel">
                    <div class="spotifyBrowserTitle">Cancel</div>
                </div>
    
                ViewBag.TrackId = track.Id;
                ViewBag.AlbumId = track.AlbumId;
                ViewBag.ArtistId = track.TrackFirstArtistId;
            }
            break;

        case "ArtistBiography":
            {
                Avid.Spotify.SpotifyData.Artist artist = Spotify.GetArtistById(id);
                <div class="spotifyPlayingTrack">
		            <div class="spotifyInfoArtist">@artist.Name</div>
	            </div>
                <div class="spotifyBrowserLibrary spotifyBrowserBiography">@WebUtility.HtmlDecode(System.Text.RegularExpressions.Regex.Replace(artist.Biography, "<[^>]*(>|$)", string.Empty))</div>
            }
            break;

        case "AlbumsOfPlayist":
        case "AlbumsOfArtist":
        case "SavedAlbums":
            {
                IEnumerable<Avid.Spotify.SpotifyData.Album> albums = null;

                switch (ViewBag.Mode as string)
                {
                    case "AlbumsOfPlayist":
                        albums = Spotify.GetPlayListAlbums(ViewBag.PlaylistId as string);
                        <div class="spotifyBrowserItem spotifyBrowserPlaylistHeader"><div class="spotifyBrowserTitle">Playlist "@ViewBag.PlaylistName"</div></div>
                        break;
                    case "AlbumsOfArtist":
                        albums = Spotify.GetAlbumsForArtist(id);
                        break;
                    case "SavedAlbums":
                        albums = Spotify.GetSavedAlbums();
                        break;
                }
                if (albums != null)
                {
                    string lastArtist = string.Empty;

                    foreach (var album in albums)
                    {
                        <div class="spotifyBrowserAlbum spotifyBrowserItem" id="@album.Id">
                            <div class="spotifyBrowserDisplayContext" >
                                @if (album.ArtistName != lastArtist)
                                {
                                    <div class="spotifyBrowserDisplayArtist">@album.ArtistName</div>
                                    lastArtist = album.ArtistName;
                                }
                            </div>
                            <div class="spotifyBrowserTitle"><span class="playButton">&gt;&nbsp;</span>@album.Name</div>
                        </div>
                    }
                }
            }
            break;

        case "GetSimiliarArtists":
            {
                Avid.Spotify.SpotifyData.Artist thisArtist = Spotify.GetArtistById(id);
                <div class="spotifyBrowserArtist spotifyBrowserItem" id ="@thisArtist.Id">
                    <div class="spotifyBrowserTitle">@thisArtist.Name</div>
                </div>
                IEnumerable<Avid.Spotify.SpotifyData.Artist> artists = Spotify.GetSimilarArtistsForArtist(id);

                if (artists != null)
                {
                    foreach (var artist in artists)
                    {
                        <div class="spotifyBrowserArtist spotifyBrowserItem" id ="@artist.Id">
                            <div class="spotifyBrowserTitle">@artist.Name</div>
                        </div>
                    }
                }
            }
            break;

        case "TracksOnAlbum":
            {
                IEnumerable<Avid.Spotify.SpotifyData.Track> tracks = Spotify.GetTracksForAlbum(id);

                if (tracks != null)
                {
                    string lastAlbum = string.Empty;
                    string lastArtist = string.Empty;

                    foreach (var track in tracks)
                    {
                        string album = track.AlbumName;
                        string artist = track.TrackArtistNames;
                        string duration = Spotify.FormatDuration(track.Duration);
                        var trackId = track.Id;
                        var albumId = track.AlbumId;
                        string playButton = ViewBag.Append != null ? "+ " : "> ";

                        <div class="spotifyBrowserTrack spotifyBrowserSearchTrack spotifyBrowserItem" id="@trackId">
                            @if (artist != lastArtist || album != lastAlbum)
                            {
                                <div class="spotifyBrowserDisplayContext" >
                                    @if (artist != lastArtist)
                                    {
                                        <div class='spotifyBrowserDisplayArtist'>@artist</div>
                                        lastArtist = artist;
                                    }

                                    @if (album != lastAlbum)
                                    {
                                        <div class='spotifyBrowserDisplayAlbum'>@album</div>
                                        lastAlbum = album;
                                    }
                                </div>
                            }

                            <div class="spotifyBrowserTitle"><span class="playButton">@playButton</span>@track.Name</div>

                            @if (!string.IsNullOrEmpty(duration))
                            {
                                <div class="spotifyBrowserDuration">@duration</div>
                            }
                        </div>
                    }
                }
            }

            break;

        case "PlayListsAdd":
            {
                string actionClass = "";
                if (ViewBag.AlbumId != null)
                {
                    actionClass = "spotifyBrowserPlaylistAddAlbumAsArtistName";
                    Avid.Spotify.SpotifyData.Album album = Spotify.GetAlbumById(ViewBag.AlbumId as String);
                    <div class="spotifyBrowserItem spotifyBrowserPlaylistHeader"><div class="spotifyBrowserTitle">Add album "@album.Name" to ...</div></div>
                }
                else if (ViewBag.TrackId != null)
                {
                    actionClass = "spotifyBrowserPlaylistAddTrackAsArtistName";
                    Avid.Spotify.SpotifyData.Track track = Spotify.GetTrackById(ViewBag.TrackId as String);
                    <div class="spotifyBrowserItem spotifyBrowserPlaylistHeader"><div class="spotifyBrowserTitle">Add track "@track.Name" to ...</div></div>
                }
                if (ViewBag.ArtistId != null)
                {
                    Avid.Spotify.SpotifyData.Artist artist = Spotify.GetArtistById(ViewBag.ArtistId as String);
                    <div class="@actionClass spotifyBrowserItem" id="@artist.Name">
                        <div class="spotifyBrowserTitle">@artist.Name</div>
                    </div>
                }
                <div class="spotifyBrowserItem">
                    <table class="buttonRow">
	                    <tr>
                            <td class="centeredButton width10">
                                <img id="@(actionClass)New" src="/Content/Buttons/MiniRound/Plus.png" />
                            </td>
                            <td class="width90"><input class='spotifyBrowserPlaylistNewName width95' id='spotifyBrowserPlaylistNewName' type='text' /></td>
                        </tr>
                    </table>
                </div>
                IEnumerable<Avid.Spotify.SpotifyData.Playlist> playlists = Spotify.GetPlayLists();
                if (playlists != null)
                {
                    foreach (var playlist in playlists)
                    {
                        <div class="@actionClass spotifyBrowserItem" id="@playlist.Id">
                            <div class="spotifyBrowserTitle">@playlist.Name</div>
                        </div>
                    }
                }
            }
            break;
    }

    if (ViewBag.ArtistId != null)
    {
        <span id="ArtistInfoId" style="display:none">@ViewBag.ArtistId</span>
    }
    if (ViewBag.AlbumId != null)
    {
        <span id="AlbumInfoId" style="display:none">@ViewBag.AlbumId</span>
    }
    if (ViewBag.TrackId != null)
    {
        <span id="TrackInfoId" style="display:none">@ViewBag.TrackId</span>
    }
    if (ViewBag.PlaylistName != null)
    {
        <span id="PlaylistName" style="display:none">@ViewBag.PlaylistName</span>
    }
    if (ViewBag.PlaylistId != null)
    {
        <span id="PlaylistId" style="display:none">@ViewBag.PlaylistId</span>
    }
}