@{
    ViewBag.Title = "Spotify";
}

@Html.Partial("TopBar")
@section scripts {
    @Html.Raw(Render.Script("topBar", Request))
    @Html.Raw(Render.Script("spotify", Request))
}

@Html.Partial("PaneButtons")
<div class="spotifyPlaybackQueueItems" id="spotifyPlaybackQueueItems">
    @Html.Partial("QueuePane")
</div>