@{
	ViewBag.Title = "Music";
}

@Html.Partial("TopBarWide")
@section scripts {
    @Html.Raw(Render.Script("topBar", Request))
    @Html.Raw(Render.Script("homeWide", Request))
    @Html.Raw(Render.Script("music", Request))
}

<script type="text/javascript">var JrmcUrl = '@JRMC.Url'; var JrmcHost = '@JRMC.Host';</script>

<div id="musicPanes">
    <div id ="musicLeftPane">
        <div id="musicBrowserPane">
            @Html.Partial("BrowserSearchPane")
            <div class="musicBrowserItems" id="musicBrowserItems">
                @Html.Partial("BrowserPane")
            </div>
        </div>
    </div>

    <div id ="musicRightPane">
         <div id="musicQueuePane">
            <div class="musicPlaybackQueueItems" id="musicPlaybackQueueItems">
                @Html.Partial("QueuePane")
            </div>
        </div>

        <div id="musicControlPane">
            <div class="musicPlayback">
                @Html.Partial("PlayingPane")
            </div>        
        </div>
    </div>
</div>
