@{
	ViewBag.Title = "Music";
}

@Html.Partial("TopBar")
@section scripts {
    @Html.Raw(Render.Script("topBar", Request))
    @Html.Raw(Render.Script("music", Request))
}

<script type="text/javascript">var JrmcUrl = '@JRMC.Url'; var JrmcHost = '@JRMC.Host';</script>
@Html.Partial("PaneButtons")
<div class="musicPlayback">
    @Html.Partial("PlayingPane")
</div>
