@{
    ViewBag.Title = "TV";
}

@Html.Partial("TopBarWide")
@section scripts {
    @Html.Raw(Render.Script("topBar", Request))
    @Html.Raw(Render.Script("homeWide", Request))
    @Html.Raw(Render.Script("tv", Request))
}

<div id="tvPanes">
    <div id ="tvLeftPane">
        <table class="buttonRow">
	        <tr>
	            <td class="centeredButton">	<img id="displayTvTv" src="/Content/Buttons/Select.TV.Button.png" /></td>
	            <td class="centeredButton">	<img id="displayTvRadio" src="/Content/Buttons/Select.Radio.Button.png" /></td>
            </tr>
        </table>

       <div class="tvChannels" id="tvChannels">
            @Html.Partial("ChannelsPane")
        </div>
    </div>
    <div id ="tvRightPane">
         <div class="tvButtons" id="tvButtonsPane">
            @Html.Partial("ButtonsPane")
        </div>

        <div class="tvControlPane" id="tvControlPane">
            @Html.Partial("ControlPane")
        </div>
    </div>
</div>
