<div class="tvControls" id="tvControls">
    <div class="tvPlayingInfo">
        <div class="tvProgrammeInfo">
            <div class="tvCurrentChannelNumber" id="tvCurrentChannelNumber">@RemotePotato.CurrentlySelectedChannelNumber</div>
        </div>
        <div class="tvCurrentChannelName" id="tvCurrentChannelName">@RemotePotato.CurrentlySelectedChannelName</div>
        <div class="tvCurrentProgramme" id="tvCurrentProgramme">@RemotePotato.CurrentProgrammeTitle</div>
        <div class="tvProgrammeInfo">
            <div class="tvNextPrograme" id="tvNextPrograme">@RemotePotato.NextProgrameTime @RemotePotato.NextProgrameTitle</div>
        </div>
    </div>
    <br />
    <table width="100%">
        <tr>
            <td class="centeredButton">	<img class="tvAction" id="Rew" src="/Content/Buttons/Transport.Rewind.png" /></td>
            <td class="centeredButton">	<img class="tvAction" id="Pause" src="/Content/Buttons/PlayPauseButton.png" /></td>
            <td class="centeredButton">	<img class="tvAction" id="Ffw" src="/Content/Buttons/Transport.FastForward.png" /></td>
        </tr>
        <tr>
            <td class="centeredButton">&nbsp;</td>
            <td class="centeredButton">	<img class="tvAction" id="Stop" src="/Content/Buttons/Transport.Stop.png" /></td>
            <td class="centeredButton">	<img class="tvAction" id="Record" src="/Content/Buttons/Transport.Rec.png" /></td>
        </tr>
        <tr>
            <td class="centeredButton"><img class="tvAction" id="Enter" src="/Content/Buttons/BigRound/OK.png"></td>
            <td class="centeredButton">&nbsp;</td>
            <td class="centeredButton">&nbsp;</td>
        </tr>
    </table>
</div>