<div class="tvControls" id="tvControls">
    <div class="tvPlayingInfo">
        @if (DvbViewer.IsRecordingNow)
        {
            <div class="tvProgrammeIsRecord">[Rec]</div>
        }
        else
        {
            <img class="tvProgrammeRecord" id="Record" src="/Content/Buttons/SmallRound/Transport.Rec.png" />
        }
        <div class="tvCurrentChannelName" id="tvCurrentChannelName">@DvbViewer.CurrentlySelectedChannelName</div>
        <div class="tvCurrentProgramme" id="tvCurrentProgramme">@DvbViewer.NowTitle</div>
        <div class="tvProgrammeInfo">
            <div class="tvNextPrograme" id="tvNextPrograme">@DvbViewer.NextStart @DvbViewer.NextTitle</div>
        </div>
    </div>
    <br />
    <table class="width100">
        <tr>
            <td class="centeredButton width30">	<img class="tvAction" id="Jump+Minus+10" src="/Content/Buttons/Minus10.png" /></td>
            <td class="centeredButton width40">	<img class="tvAction" id="Pause" src="/Content/Buttons/PlayPauseButton.png" /></td>
            <td class="centeredButton width30">	<img class="tvAction" id="Jump+Plus+10" src="/Content/Buttons/Plus10.png" /></td>
        </tr>
        <tr>
            <td class="centeredButton width30">@DvbViewer.PlayState</td>
            <td class="centeredButton width40">@DvbViewer.TimeShift</td>
            <td class="centeredButton width30">&nbsp;</td>
        </tr>
    </table>
</div>