@{
    ViewBag.Title = "TV";
    ViewBag.Mode = "Radio";
}

@Html.Partial("TopBar")
@section scripts {
    @Html.Raw(Render.Script("topBar", Request))
    @Html.Raw(Render.Script("tv", Request))
}

@Html.Partial("PaneButtons")
<div class="tvChannels">
    @Html.Partial("RadioPane")
</div>